button.back_button {
  @apply border-none h-auto w-[8.5rem] bg-transparent;
}

.containerButton {
  @apply relative;
}
button.back_button .circle {
  @apply transition-all duration-500 ease-[cubic-bezier(0.65,0,0.076,1)] relative block w-12 h-12 m-0 rounded-3xl;
}
button.back_button .circle .icon {
  @apply transition-all bg-secondary ltr:rotate-180 duration-500 ease-[cubic-bezier(0.65,0,0.076,1)] absolute m-auto inset-y-0;
}
button.back_button .circle .icon.arrow {
  @apply transition-all bg-transparent duration-500 ease-[cubic-bezier(0.65,0,0.076,1)] w-4 h-0.5 rtl:right-[1.35rem] ltr:left-[1.35rem] before:absolute  before:top-[-0.28rem] before:w-2.5 before:h-2.5 before:rotate-45 before:border-r-2 before:border-r-secondary before:border-t-2 before:border-t-secondary before:border-solid before:border-0 before:left-[0.4125rem];
}
button.back_button .circle .icon.arrow::before {
  content: '';
}
button.back_button .button_text {
  @apply transition-all duration-500 ease-[cubic-bezier(0.65,0,0.076,1)] -mt-px absolute text-secondary font-bold leading-[1.6] text-end uppercase hover:text-secondary  rtl:mr-[1.85rem] ltr:ml-[1.85rem] mr-0 my-0 py-4 inset-0;
}
button:hover .circle .icon.arrow {
  @apply rtl:-translate-x-5 ltr:translate-x-5 bg-secondary  translate-y-0;
}
