@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply focus:active:ring-[rgb(var(--color-brand))]  focus:active:border-[rgb(var(--color-brand))] !important;
}

button {
  outline: none;
}
/* Tokens */
:root {
  --color-bannerBorder: #bbd8de; /*blue border main banner*/
  --color-colorBackground: #f2f2f2; /*banner background*/
  --color-boxShadow: 0 0 0 0.15; /*box shadow color*/
  --color-colorBorder: #d2d2d2; /*faded border*/
  --color-darkBackground: #081c3c; /*for dark grey buttons*/
  --color-toneLight: #d9efff; /*nmbering on marketplace page*/
  --color-white: #ffffff; /*normal white for future customization*/
  --color-darkGreyBackground: #2c3145; /*darkBackground of corner offer and best offer*/
  --color-iconCheckout:#c6c6c6
  --color-offWhite: #f7f8f6; /*offwhite for light columns in corner offer component*/
  --color-testimonialBg: #f9f9f9; /*testimonial background*/
  --color-mainBanner: #163564; /*main banner dark blue shade for text*/
  --color-offerbg: #f6fffc; /*offwhite for light columns in brand collection component component*/
  --color-main: 100 104 122;
  --color-primary: 0 0 0; /* Text, Primary Button */
  --color-brand: 57 179 138;
  --color-blue_magenta: #262441;
  --color-tab: 248 248 248; /* Customer Tab Hover background */
  --color-star: 255 201 48;
  --color-secondary: 44 49 69; /* Secondary Button */
  --font-size-fine: 0.875rem; /* text-sm */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.25rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;
  --color-gray: #676767;
  --color-button-text: #d9efff;
  --width-heading: 4rem;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono)
}
