@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply focus:active:ring-[rgb(var(--color-brand))]  focus:active:border-[rgb(var(--color-brand))] !important;
}

button {
  outline: none;
}
/* Tokens */
:root {
  --color-bannerBorder: #bbd8de; /*blue border main banner*/
  --color-colorBackground: #f2f2f2; /*banner background*/
  --color-boxShadow: 0 0 0 0.15; /*box shadow color*/
  --color-colorBorder: #d2d2d2; /*faded border*/
  --color-darkBackground: #081c3c; /*for dark grey buttons*/
  --color-toneLight: #d9efff; /*nmbering on marketplace page*/
  --color-white: #ffffff; /*normal white for future customization*/
  --color-darkGreyBackground: #2c3145; /*darkBackground of corner offer and best offer*/
  --color-iconCheckout: #c6c6c6;
  --color-offWhite: #f7f8f6; /*offwhite for light columns in corner offer component*/
  --color-testimonialBg: #f9f9f9; /*testimonial background*/
  --color-mainBanner: #163564; /*main banner dark blue shade for text*/
  --color-offerbg: #f6fffc; /*offwhite for light columns in brand collection component component*/
  --color-main: 100 104 122;
  --color-primary: 0 0 0; /* Text, Primary Button */
  /* --color-brand: 17 94 89; accessbility issue*/
  --color-brand: 15 118 110; /*resolved by this*/
  --color-blue_magenta: #262441;
  --color-tab: 248 248 248; /* Customer Tab Hover background */
  --color-star: 255 201 48;
  --color-secondary: 44 49 69; /* Secondary Button */
  --font-size-fine: 0.875rem; /* text-sm */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.25rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;
  --color-gray: #676767;
  --color-button-text: #d9efff;
  --width-heading: 4rem;
}

/* Lexend Thin */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Lexend ExtraLight */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Lexend Light */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Lexend Regular */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Lexend Medium */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Lexend SemiBold */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Lexend Bold */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Lexend ExtraBold */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Lexend Black */
@font-face {
  font-family: 'Lexend';
  src: url('~/public/assets/fonts/Lexend/Lexend-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}